body.section-blog {
  border-left-color: $black;
}

body.section-gallery {
  border-left-color: #000;
  background-color: $black;

  p, a, a:visited, h1 {
    color:white;
  }

  a:hover {
    background-color: transparent;
    cursor: pointer;
  }

  div.image {
      img {
        border:1px solid #ccc;
        margin:24px 0;
        width: 100%;
    }
 }

  div.image.no-border img {
      border: transparent;
  }

  div.gallery-thumbs {
      display:block;
      overflow:hidden;
      line-height:0;
      
      div.gallery-thumb {
          float:left;
          width:(100%/2);
          position:relative;

        img {
            width: 100%;
        }
          a span {
              position: absolute;
              top: 5%;
              left: 2%;
              text-transform: uppercase;
              color: white;
              text-decoration: none;
          }
      }
  }
}