/* BASIC FONT SIZES */
$font-size-base: 16px;
$font-size-half: ($font-size-base/2);
$font-size-tiny: ($font-size-base*0.75);
$font-size-smaller: ($font-size-base*0.8);
$font-size-small: ($font-size-base*0.9);   
$font-size-medium: ($font-size-base * 1.2); /* h2 */
$font-size-large: ($font-size-base * 2); /* h1 */
$font-size-huge: ($font-size-base * 3);


.text-black {
  color: $black;
}

.smaller {
  text-size:0.8em;
}

%opentype {
  font-kerning: normal;
  font-variant-ligatures: common-ligatures, contextual;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "alt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}


%monospace {
  font-family: "Monaco", monospace;
  font-size: $font-size-base;
}


/* Default to system fonts 
 * On desktop-sized screens, upgrade to webfont after it downloads
 * As explained here: https://www.smashingmagazine.com/2015/11/using-system-ui-fonts-practical-guide/
 */
body {
color:$black;
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", 
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;  
}

body {
  @extend %opentype;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;  
}

h1,h2,h3,h4,p,li {
  @extend %opentype;
}

p, li {
    font-size:$font-size-base;

    font-kerning: normal;
    font-variant-ligatures: common-ligatures, contextual;
    font-variant-numeric: oldstyle-nums, proportional-nums;
    -moz-font-feature-settings: "kern", "liga", "clig", "calt", "onum", "pnum";
    -ms-font-feature-settings: "kern", "liga", "clig", "calt", "onum", "pnum";
    -webkit-font-feature-settings: "kern", "liga", "clig", "calt", "onum", "pnum";
    font-feature-settings: "kern", "liga", "clig", "calt", "onum", "pnum";
}

/* set to small caps (not FF Meta Web Pro doesn't have small caps) */
p abbr, li abbr
p span.smallcaps, li span.smallcaps {
    font-kerning: normal;
    font-variant-ligatures: common-ligatures, contextual;
    font-variant-numeric: oldstyle-nums, proportional-nums;
    font-variant-caps: all-small-caps;
    -moz-font-feature-settings: "kern", "liga", "clig", "calt", "onum", "pnum", "smcp", "c2sc";
    -ms-font-feature-settings: "kern", "liga", "clig", "calt", "onum", "pnum", "smcp", "c2sc";
    -webkit-font-feature-settings: "kern", "liga", "clig", "calt", "onum", "pnum", "smcp", "c2sc";
    font-feature-settings: "kern", "liga", "clig", "calt", "onum", "pnum", "smcp", "c2sc";
}


/* set to lining numbers (overrides default of old-style)
 * set to tabular numerals (overrides default of proportional) */
table.tabular-numerals td,
table.tabular-numerals th {
    font-kerning: normal;
    font-variant-ligatures: common-ligatures, contextual;
    font-variant-numeric: tabular-nums, lining-nums;
    -moz-font-feature-settings: "kern", "liga", "clig", "calt", "tnum", "lnum";
    -ms-font-feature-settings: "kern", "liga", "clig", "calt", "tnum", "lnum";
    -webkit-font-feature-settings: "kern", "liga", "clig", "calt", "tnum", "lnum";
    font-feature-settings: "kern", "liga", "clig", "calt", "tnum", "lnum";
}


td {text-align: right};

td, th {
  font-size:$font-size-base;
}


h1 {
  font-size:$font-size-large;
  font-weight: normal;
  margin-top: $font-size-large;
  margin-bottom: $font-size-large;
}

h1.headline {
  font-size:$font-size-huge;
  font-weight: 300;
  color:#aaaaaa;
  max-width: 15em;
  margin-bottom: 2em;

  @media (max-width: $break-medium) {
    font-size:$font-size-large * 1.15;
  }

  @media (max-width: $break-small) {
    font-size:$font-size-large;
  }

}


h2 {
  font-size:$font-size-medium;
  font-weight: 600;
  margin-top:($font-size-medium*1.5);
  margin-bottom:($font-size-medium*0.25);
}

h3 {
  font-size:$font-size-small;
  font-weight: bold;
  text-transform: uppercase;
  margin-top:($font-size-medium*1.5);
  margin-bottom:($font-size-medium*0.5);
}

p {
  font-size:$font-size-base;
  margin:0 0 ($font-size-base*1.5) 0;
  line-height: 1.5em;
  font-weight: 400;
}

p a, li a {
  color: $black;
  text-decoration: none;
  border-bottom:3px solid $highlight;
}

p a:hover, li a:hover {
  background:yellow;
  border-bottom-color:yellow;
  cursor: pointer;
}

ul, ol {
  padding:0;
}

li {
  font-size:$font-size-base;
  font-weight: 400;
  margin:($font-size-base/2) 0;
  padding:0;
}


/* if screen size is over 1000px, then apply the webfont
 * if it has downloaded and active. */
@media (min-width: 800px) {
  html body {
    font-family: 'Fira Sans', -apple-system, BlinkMacSystemFont, 
    "Segoe UI", "Roboto", "Oxygen", 
    "Ubuntu", "Cantarell", "Fira Sans", 
    "Droid Sans", "Helvetica Neue", sans-serif;
  }
}


