//@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,200,700);
//@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Fira+Sans:400,200,600);

@import 'normalize';

/* COLORS */
$blue: #98EFF0;
$highlight: cyan;
$teal: #083D3D;
$red: #D0021B;
$dark-red: #963C32;
$black: #333;
$dark-grey: #666;
$light-grey: #ccc;

.light-grey {color: $light-grey;}

$break-xxlarge: 1600px;
$break-xlarge: 1200px;
$break-large: 1000px;
$break-medium: 800px;
$break-small: 500px;

%no-margin-padding {
    margin:0;
    padding:0;
}

@mixin page($mw:$break-xlarge) {
    width:90%;
    max-width:$mw;
    margin:0 auto;
    display:block;
    position:relative;
}

@mixin two-color-gradient($topcolor, $bottomcolor) {
    background: $topcolor; /* Old browsers */
    background: -moz-linear-gradient(top,  $topcolor 0%, $bottomcolor 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom,
    color-stop(0%,$topcolor), color-stop(100%,$bottomcolor)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  $topcolor 0%,$bottomcolor 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  $topcolor 0%,$bottomcolor 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  $topcolor 0%,$bottomcolor 100%); /* IE10+ */
    background: linear-gradient(to bottom,  $topcolor 0%,$bottomcolor 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(
    startColorstr='$topcolor', endColorstr='$bottomcolor',GradientType=0 ); /* IE6-9 */
  }

%hidetext {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

%clearfix:after {
    content: "";
    display: table;
    clear: both;
}

%align-left {text-align: left};
%align-right {text-align: right};

@import 'type';

ul.contact {
  
  li {
    margin-right:2em;
    font-size: font-size-small;
    list-style: none;
  }

  li, li a {
    color: $dark-grey;    
  }

  span {
    color: $black;
    text-transform: uppercase;
    font-size: $font-size-smaller;
    padding-right: 0.5em;
  }

}


body {
  @extend %no-margin-padding;
  border-left:10px solid $highlight;
  padding-top: ($font-size-large*2);
  padding-bottom: ($font-size-large*5);

  @media (max-width: $break-medium) {
    border-left: None;
  }
}


nav, div.nav {
  @include page;
  margin-bottom: (2 * $font-size-large);

  li {display:inline-block;
    margin:0 $font-size-base 0 0;
  }

  a, li a {
    @extend %opentype;
    text-transform: uppercase;
    font-size: $font-size-small;
    border:0;
    text-decoration: none;    
  }

  a, a:visited {
    color: $dark-grey;
    margin-right: 0.5em;
  }
}

div.page {
  @include page;
}

article {
  time {
    font-size:$font-size-smaller;
    text-transform: uppercase;
    font-weight: normal;
  }

  header {
    margin:0 0 (1* $font-size-large) 0;
  }

  h1 {
    font-size: $font-size-large;
    margin:2em 0 1em 0;
    font-weight:300;
  }

  h2.subtitle {
    font-size: ($font-size-medium);
    font-weight: bold;
    color: $dark-grey;
    margin:-2em 0 1em 0;
  }

  span.subtitle {
    font-size: 0.6em;
    color: $dark-grey;
    padding:1em 0;
  }

  p, li {
    font-size: $font-size-base;
    line-height: 1.45em;
  }

  p,ul {
    max-width:680px;
  }

  p.caption {
    color:#555;
    font-size:$font-size-smaller;
    line-height: 1.2em;
    font-weight: 400;
  }

  img.width-100 {
    width:100%;
  }
}

div.blog-list-item {
    margin-bottom: 2em;
    h1 {
        font-size: $font-size-medium;
        margin:0.25em 0;
    }

    h2 {
        font-size: ($font-size-medium * 0.8);
        color:$dark-grey;
        margin:0;
        font-weight: normal;
    }

  a.post-title, a.post-title:visited {
    color:black;
    font-weight:bold;
    text-decoration: none;
  }

  a.post-title:hover {
      color: $teal;
      text-decoration: underline;
  }

  time {
    font-size:0.8em;
    color:#555;
    text-transform: uppercase;
  }

  a.read-more-link {
    text-decoration: none;
    border:none;
  }

  div.post-summary p {
    margin-bottom: 0;
  }
}


div.thumbs {
 @include page;
}


$contrast: 30%;
$greyscale: 60%;
div.thumb {
  float: left;
  position:relative;
  box-sizing: border-box;
  width:(100%/3);
  line-height: 0; // fixes spacing issues with svg.placeholder

    svg.placeholder {
      display:inline-block;
      opacity:0.9;
    }
}




div.home-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  @media (max-width: $break-large) {
    grid-template-columns: 1fr 1fr;
  }
  @media (max-width: $break-small) {
    grid-template-columns: 1fr;
  }

  div.grid-item {
    position: relative;

    p {
      position:absolute;
      margin:0;
      padding:0.25em 0.5em;
      font-size:$font-size-small;
      font-weight: bold;
      text-transform: uppercase;
      color:white;
      z-index: 100;
      top:0; left:0;
      background-color: rgba(10, 10, 10 , 0.6);
    }
    img {
      width:100%;
      display: block; // needed to remove some bottom whitespace
    }
  }

}

section.clearfix:after {
  @extend %clearfix:after;
}

pre, code {
  @extend %monospace;
}

@import 'gallery';