//@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,200,700);
//@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Fira+Sans:400,300,700);

@import 'normalize';

/* COLORS */
$blue: #98EFF0;
$highlight: cyan;
$teal: #083D3D;
$red: #D0021B;
$dark-red: #963C32;
$black: #333;
$dark-grey: #666;
$light-grey: #ccc;

.light-grey {color: $light-grey;}

$page-width-max: 1600px;

%no-margin-padding {
    margin:0;
    padding:0;
}

@mixin page($mw:1000px) {
    width:90%;
    max-width:$mw;
    margin:0 auto;
    display:block;
    position:relative;
}

@mixin two-color-gradient($topcolor, $bottomcolor) {
    background: $topcolor; /* Old browsers */
    background: -moz-linear-gradient(top,  $topcolor 0%, $bottomcolor 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom,
    color-stop(0%,$topcolor), color-stop(100%,$bottomcolor)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  $topcolor 0%,$bottomcolor 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  $topcolor 0%,$bottomcolor 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  $topcolor 0%,$bottomcolor 100%); /* IE10+ */
    background: linear-gradient(to bottom,  $topcolor 0%,$bottomcolor 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(
    startColorstr='$topcolor', endColorstr='$bottomcolor',GradientType=0 ); /* IE6-9 */
  }

@mixin border-radius ($radius: 5px) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}

%hidetext {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

%clearfix:after {
    content: "";
    display: table;
    clear: both;
}

%align-left {text-align: left};
%align-right {text-align: right};

@import 'type';

ul.contact {
  
  li {
    margin-right:2em;
    font-size: font-size-small;
    list-style: none;
  }

  li, li a {
    color: $dark-grey;    
  }

  span {
    color: $black;
    text-transform: uppercase;
    font-size: $font-size-smaller;
    padding-right: 0.5em;
  }

}


body {
  @extend %no-margin-padding;

  border-left:10px solid $highlight;

  padding-top: ($font-size-large*2);
  padding-bottom: ($font-size-large*5);
}


a#badge {
  font-size:$font-size-large;
  @include page;
  border:0;
  text-decoration:none;
  margin-bottom:0.25em;
  color:$black;
}

nav, div.nav {
  @include page;
  margin-bottom: (2 * $font-size-large);

  ul {@extend %no-margin-padding}
  li {display:inline-block;
    @extend %opentype;
    text-transform: uppercase;
    font-size: $font-size-small;
    margin:0 $font-size-base 0 0;
  }

  a, li a {
    border:0;
    text-decoration: none;    
  }

  a, a:visited {
    color: $dark-grey;
    margin-right: 0.5em;
  }
}

body.home-page nav {
  @include page($page-width-max);
}

div.page {
  @include page;
}

article {
  time {
    font-size:$font-size-smaller;
    text-transform: uppercase;
    font-weight: normal;
  }

  header {
    margin:0 0 (1* $font-size-large) 0;
  }

  h1 {
    font-size: $font-size-large;
    margin:2em 0 1em 0;
    font-weight:300;
  }

  h2.subtitle {
    font-size: ($font-size-medium);
    font-weight: bold;
    margin:0.25em 0;
  }

  p, li {
    font-size: $font-size-base;
    line-height: 1.45em;
  }

  p,ul {
    max-width:680px;
  }

  p.caption {
    color:#555;
    font-size:$font-size-smaller;
    line-height: 1.2em;
    font-weight: 400;
  }

  img.width-100 {
    width:100%;
  }
}

div.post {
  a.post-title, a.post-title:visited {
    color:black;
    font-weight:bold;
    text-decoration: none;
  }

  a.post-title:hover {
      color: $teal;
      text-decoration: underline;
  }

  time {
    font-size:0.8em;
    color:#555;
    text-transform: uppercase;
    margin-left:0.5em;
  }

  a.read-more-link {
    text-decoration: none;
    border:none;
  }

  div.post-summary p {
    margin-bottom: 0;
  }
}




div.thumbs {
 @include page;
}

 div.thumb {
  background-color:white;
  float:left;
  position:relative;
  box-sizing: border-box;
  width:(100%/2);

   p {position:absolute;
     margin:0;
     padding:0;
     font-size:$font-size-medium;
     font-weight: normal;
     font-style: italic;
     text-transform: uppercase;
     color:white;
     z-index: 100;
     top:3%; left:3%;
   }
   img {
    width:100%;
    display:block;
    opacity:1;
    -webkit-filter: contrast(100%) grayscale(0%);
    filter: contrast(100%) grayscale(0%);
    }
 }

 $contrast: 30%;
 div.thumb:hover {
  @include two-color-gradient(darkblue, cyan);
  p {color:yellow;}
  img {
    opacity:0.8;
    -webkit-filter: contrast($contrast) grayscale(50%);
    filter: contrast($contrast) grayscale(50%);
   }
 }




 div.home-wrapper {
  @include page($page-width-max);
  display:flex;
  flex-direction:row;
  flex-wrap:nowrap;
  margin:0 auto;
 }

 div.column {
   order:1;
   flex:0 1 auto;
 }

 div.column + div.column {
   padding-left:45px;
 }

 div.column-one {
  min-width: 300px;
  max-width: 800px;
  flex:4 1 60%;
 }


 div.column.column-two {
  flex:2 1 20%;
  min-width:200px;
  max-width:300px;
  //border:1px solid green;

  div.home-thumbs {
    @include two-color-gradient(cyan, darkblue);
  }

  div.thumb {
    width:100%;
    float:none;
    display:block;
    background-color: transparent;
    border-bottom:4px solid white;
    img {
      opacity:0.85;
      -webkit-filter: contrast(50%) grayscale(40%);
      filter: contrast(50%) grayscale(40%);
     }
  }

   div.thumb:hover {
    p {color:yellow;}
    background-color: transparent;
    img {
      opacity:1;
      -webkit-filter: contrast(100%) grayscale(0%);
      filter: contrast(100%) grayscale(0%);
     }
   }


 }

 div.column.column-three {
  flex:1 1 10%;
  min-width:150px;
  max-width:250px;
  //border:1px solid green;

  p {
    font-size:$font-size-small;
    line-height: 1.2em;
    color:#444;
  }
 }

pre, code {
  @extend %monospace;
}
