<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>

    {{ block "css" .}}
    <link rel="stylesheet" type="text/css" media="all" href="/css/main.css">
    {{ end }}
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>

   <nav>
    <a href="/">home</a>
    <a href="/blog">blog</a>
    <a href="/resume">resume</a>
    <a href="/gallery">photos</a>
   </nav>

   <div class="page">
    {{ block "main" . }}
      {{ .Content }}
    {{ end }}
  </div>

  {{ partial "footer.html" . }}
