/* ==========================================================================
   MAIN STYLESHEET
   Converted from SCSS to vanilla CSS
   ========================================================================== */

/* ==========================================================================
   NORMALIZE (v3.0.3)
   ========================================================================== */

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden],
template {
    display: none;
}

a {
    background-color: transparent;
}

a:active,
a:hover {
    outline: 0;
}

abbr[title] {
    border-bottom: 1px dotted;
}

b,
strong {
    font-weight: bold;
}

dfn {
    font-style: italic;
}

mark {
    background: #ff0;
    color: #000;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

img {
    border: 0;
}

svg:not(:root) {
    overflow: hidden;
}

figure {
    margin: 1em 40px;
}

hr {
    box-sizing: content-box;
    height: 0;
}

pre {
    overflow: auto;
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

button {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled],
html input[disabled] {
    cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input {
    line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

input[type="search"] {
    -webkit-appearance: textfield;
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
}

optgroup {
    font-weight: bold;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td,
th {
    padding: 0;
}

/* ==========================================================================
   CSS CUSTOM PROPERTIES (Variables)
   ========================================================================== */

:root {
    /* Colors */
    --color-blue: #98eff0;
    --color-highlight: cyan;
    --color-teal: #083d3d;
    --color-red: #d0021b;
    --color-dark-red: #963c32;
    --color-black: #333;
    --color-dark-grey: #666;
    --color-light-grey: #ccc;

    /* Font Sizes */
    --font-size-base: 16px;
    --font-size-half: 8px;
    --font-size-tiny: 12px;
    --font-size-smaller: 12.8px;
    --font-size-small: 14.4px;
    --font-size-medium: 19.2px;
    --font-size-large: 32px;
    --font-size-huge: 48px;

    /* Breakpoints (for reference - used in media queries) */
    /* --break-xxlarge: 1600px; */
    /* --break-xlarge: 1200px; */
    /* --break-large: 1000px; */
    /* --break-medium: 800px; */
    /* --break-small: 500px; */
}

/* ==========================================================================
   TYPOGRAPHY
   ========================================================================== */

body {
    color: var(--color-black);
    font-family:
        -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    font-kerning: normal;
    font-variant-ligatures: common-ligatures, contextual;
    font-feature-settings: "kern", "liga", "clig", "calt";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
}

/* Upgrade to webfont on larger screens */
@media (min-width: 800px) {
    body {
        font-family:
            "Fira Sans",
            -apple-system,
            BlinkMacSystemFont,
            "Segoe UI",
            "Roboto",
            "Oxygen",
            "Ubuntu",
            "Cantarell",
            "Fira Sans",
            "Droid Sans",
            "Helvetica Neue",
            sans-serif;
    }
}

h1,
h2,
h3,
h4,
p,
li {
    font-kerning: normal;
    font-variant-ligatures: common-ligatures, contextual;
    font-feature-settings: "kern", "liga", "clig", "calt";
}

p,
li {
    font-size: var(--font-size-base);
    font-kerning: normal;
    font-variant-ligatures: common-ligatures, contextual;
    font-variant-numeric: oldstyle-nums, proportional-nums;
    font-feature-settings: "kern", "liga", "clig", "calt", "onum", "pnum";
}

/* Small caps for abbreviations */
p abbr,
li abbr,
p span.smallcaps,
li span.smallcaps {
    font-kerning: normal;
    font-variant-ligatures: common-ligatures, contextual;
    font-variant-numeric: oldstyle-nums, proportional-nums;
    font-variant-caps: all-small-caps;
    font-feature-settings:
        "kern", "liga", "clig", "calt", "onum", "pnum", "smcp", "c2sc";
}

/* Tabular numbers for tables */
table.tabular-numerals td,
table.tabular-numerals th {
    font-kerning: normal;
    font-variant-ligatures: common-ligatures, contextual;
    font-variant-numeric: tabular-nums, lining-nums;
    font-feature-settings: "kern", "liga", "clig", "calt", "tnum", "lnum";
}

td {
    text-align: right;
}

td,
th {
    font-size: var(--font-size-base);
}

h1 {
    font-size: var(--font-size-large);
    font-weight: normal;
    margin-top: var(--font-size-large);
    margin-bottom: var(--font-size-large);
}

h1.headline {
    font-size: var(--font-size-huge);
    font-weight: 300;
    color: #aaaaaa;
    max-width: 15em;
    margin-bottom: 2em;
}

@media (max-width: 800px) {
    h1.headline {
        font-size: 36.8px; /* font-size-large * 1.15 */
    }
}

@media (max-width: 500px) {
    h1.headline {
        font-size: var(--font-size-large);
    }
}

h2 {
    font-size: var(--font-size-medium);
    font-weight: 600;
    margin-top: 28.8px; /* font-size-medium * 1.5 */
    margin-bottom: 4.8px; /* font-size-medium * 0.25 */
}

h3 {
    font-size: var(--font-size-small);
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 28.8px; /* font-size-medium * 1.5 */
    margin-bottom: 9.6px; /* font-size-medium * 0.5 */
}

p {
    font-size: var(--font-size-base);
    margin: 0 0 24px 0; /* font-size-base * 1.5 */
    line-height: 1.5em;
    font-weight: 400;
}

p a,
li a {
    color: var(--color-black);
    text-decoration: none;
    border-bottom: 3px solid var(--color-highlight);
}

p a:hover,
li a:hover {
    background: yellow;
    border-bottom-color: yellow;
    cursor: pointer;
}

ul,
ol {
    padding: 0;
}

li {
    font-size: var(--font-size-base);
    font-weight: 400;
    margin: 8px 0; /* font-size-half */
    padding: 0;
}

/* Monospace */
pre,
code {
    font-family: "Monaco", monospace;
    font-size: var(--font-size-base);
}

/* ==========================================================================
   UTILITY CLASSES
   ========================================================================== */

.light-grey {
    color: var(--color-light-grey);
}

.text-black {
    color: var(--color-black);
}

.smaller {
    font-size: 0.8em;
}

/* Clearfix */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* ==========================================================================
   LAYOUT
   ========================================================================== */

body {
    margin: 0;
    padding: 0;
    border-left: 10px solid var(--color-highlight);
    padding-top: 64px; /* font-size-large * 2 */
    padding-bottom: 160px; /* font-size-large * 5 */
}

@media (max-width: 800px) {
    body {
        border-left: none;
    }
}

body.section-blog {
    border-left-color: var(--color-black);
}

/* Page container */
.page {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: block;
    position: relative;
}

div.page {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: block;
    position: relative;
}

div.thumbs {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: block;
    position: relative;
}

/* ==========================================================================
   NAVIGATION
   ========================================================================== */

nav,
div.nav {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: block;
    position: relative;
    margin-bottom: 64px; /* 2 * font-size-large */
}

nav li,
div.nav li {
    display: inline-block;
    margin: 0 var(--font-size-base) 0 0;
}

nav a,
nav li a,
div.nav a,
div.nav li a {
    font-kerning: normal;
    font-variant-ligatures: common-ligatures, contextual;
    font-feature-settings: "kern", "liga", "clig", "calt";
    text-transform: uppercase;
    font-size: var(--font-size-small);
    border: 0;
    text-decoration: none;
}

nav a,
nav a:visited,
div.nav a,
div.nav a:visited {
    color: var(--color-dark-grey);
    margin-right: 0.5em;
}

/* ==========================================================================
   CONTACT
   ========================================================================== */

ul.contact li {
    margin-right: 2em;
    font-size: var(--font-size-small);
    list-style: none;
}

ul.contact li,
ul.contact li a {
    color: var(--color-dark-grey);
}

ul.contact span {
    color: var(--color-black);
    text-transform: uppercase;
    font-size: var(--font-size-smaller);
    padding-right: 0.5em;
}

/* ==========================================================================
   ARTICLES
   ========================================================================== */

article time {
    font-size: var(--font-size-smaller);
    text-transform: uppercase;
    font-weight: normal;
}

article header {
    margin: 0 0 32px 0; /* font-size-large */
}

article h1 {
    font-size: var(--font-size-large);
    margin: 2em 0 1em 0;
    font-weight: 300;
}

article h2.subtitle {
    font-size: var(--font-size-medium);
    font-weight: bold;
    color: var(--color-dark-grey);
    margin: -2em 0 1em 0;
}

article span.subtitle {
    font-size: 0.6em;
    color: var(--color-dark-grey);
    padding: 1em 0;
}

article p,
article li {
    font-size: var(--font-size-base);
    line-height: 1.45em;
}

article p,
article ul {
    max-width: 680px;
}

article p.caption {
    color: #555;
    font-size: var(--font-size-smaller);
    line-height: 1.2em;
    font-weight: 400;
}

article img.width-100 {
    width: 100%;
}

/* ==========================================================================
   BLOG LIST
   ========================================================================== */

div.blog-list-item {
    margin-bottom: 2em;
}

div.blog-list-item h1 {
    font-size: var(--font-size-medium);
    margin: 0.25em 0;
}

div.blog-list-item h2 {
    font-size: 15.36px; /* font-size-medium * 0.8 */
    color: var(--color-dark-grey);
    margin: 0;
    font-weight: normal;
}

div.blog-list-item a.post-title,
div.blog-list-item a.post-title:visited {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

div.blog-list-item a.post-title:hover {
    color: var(--color-teal);
    text-decoration: underline;
}

div.blog-list-item time {
    font-size: 0.8em;
    color: #555;
    text-transform: uppercase;
}

div.blog-list-item a.read-more-link {
    text-decoration: none;
    border: none;
}

div.blog-list-item div.post-summary p {
    margin-bottom: 0;
}

/* ==========================================================================
   THUMBNAILS
   ========================================================================== */

div.thumb {
    float: left;
    position: relative;
    box-sizing: border-box;
    width: 33.333%; /* 100% / 3 */
    line-height: 0;
}

div.thumb svg.placeholder {
    display: inline-block;
    opacity: 0.9;
}

/* ==========================================================================
   HOME GRID
   ========================================================================== */

div.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

@media (max-width: 1000px) {
    div.home-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 500px) {
    div.home-grid {
        grid-template-columns: 1fr;
    }
}

div.home-grid div.grid-item {
    position: relative;
}

div.home-grid div.grid-item p {
    position: absolute;
    margin: 0;
    padding: 0.25em 0.5em;
    font-size: var(--font-size-small);
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: rgba(10, 10, 10, 0.6);
}

div.home-grid div.grid-item img {
    width: 100%;
    display: block;
}

/* ==========================================================================
   GALLERY
   ========================================================================== */

body.section-gallery {
    border-left: none;
    background-color: var(--color-black);
}

body.section-gallery div.page {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: block;
    position: relative;
}

@media (max-width: 800px) {
    body.section-gallery div.page {
        margin: 0;
        width: 100%;
    }
}

body.section-gallery p,
body.section-gallery a,
body.section-gallery a:visited {
    color: white;
}

body.section-gallery h1 {
    color: white;
}

@media (max-width: 800px) {
    body.section-gallery h1 {
        text-align: center;
    }
}

body.section-gallery div.single-image {
    position: relative;
    display: inline-block;
    margin-bottom: 24px;
}

body.section-gallery div.single-image img {
    display: block;
}

body.section-gallery div.single-image img.width-big {
    width: 100%;
}

@media (max-width: 1000px) {
    body.section-gallery div.single-image img.width-std {
        width: 100%;
    }
}

body.section-gallery div.gallery-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

@media (max-width: 800px) {
    body.section-gallery div.gallery-grid {
        grid-template-columns: 1fr;
    }
}

body.section-gallery div.gallery-grid div.gallery-item {
    position: relative;
}

body.section-gallery div.gallery-grid div.gallery-item img {
    width: 100%;
    display: block;
    border: 2px solid var(--color-black);
}

body.section-gallery div.gallery-grid div.gallery-item span.title {
    position: absolute;
    top: 1%;
    left: 1%;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    z-index: 200;
}

body.section-gallery div.gallery-grid div.gallery-item:hover img {
    border-color: white;
}
