{{ define "main" }}

    <!-- Note that the content for index.html, as a sort of list page, will pull from content/_index.md -->
    {{- .Content -}}

  <section class="clearfix">
  <h2>Photo Galleries</h2>
  <div class="home-thumbs">
  {{ range where .Site.RegularPages "Section" "gallery" }}
    <div class="thumb"><a href="{{.RelPermalink}}">
    {{ with .Resources.GetMatch "thumb.jpg" }}
      {{ $image_smaller := .Resize "400x250 q95 Linear" }} 
      <img src="{{ $image_smaller.RelPermalink }}" >
    {{ end }}
    <p >{{- .Title -}}</p>
  </a></div>
  {{ end }}

    <!-- placeholder in the grid -->
    <div class="thumb">
      <svg class="placeholder" viewBox="0 0 400 250" xmlns="http://www.w3.org/2000/svg">
        <rect x="0" y="0" width="400" height="250" style="fill:#cccccc" />
      </svg>
      <p></p>
    </div>
    </div>
  </section>

<section class="clearfix">
  <h2>Blog</h2>
  <ul>
  {{ range first 5 (where .Site.RegularPages "Section" "blog") }}
    <li><a class="post-title" href="{{.RelPermalink}}">{{- .Title -}}</a></li>
  {{ end }}
</ul>
</section>

<section class="clearfix">
  <h2>Contact</h2>
  
  {{ partial "contact.html" . }}
</section>

{{ end }}